@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="container">
    <div id="LeftPart">
    </div>
    <div id="RightPart">
    </div>
</div>
<script>
        var getUrl = window.location;
    var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
    DownloadJson(`${baseUrl}tikets?fromDatabase=false`, WriteIntoPage)
        function DownloadJson(url, callback)
    {
        let xhr = new XMLHttpRequest();
        xhr.onload = () => {
            callback(JSON.parse(xhr.response));
        }
        xhr.open("GET", url);
        xhr.send();
    }
        function WriteIntoPage(urlData){
       LeftPart= document.getElementById("LeftPart");
       for(exchange of urlData){
           var div = document.createElement("div")
            div.innerHTML = `<p>${exchange.name}</p>`
            LeftPart.appendChild(div);
            let innertExchance = exchange;
            div.addEventListener("click",function(){
                
                ReplaceRyghtPart(innertExchance);
            });
       }
       function CreateDiv(atributName,AtributValue){
        var div = document.createElement("div");
        div.innerHTML = `${atributName}: ${AtributValue}`;
        return div;
       }
       function ReplaceRyghtPart(exchange){
           var ryghtPart = document.getElementById("RightPart")
           ryghtPart.innerHTML = "";

           ryghtPart.appendChild(CreateDiv("amount",exchange.amount));
           ryghtPart.appendChild(CreateDiv("cnbMid",exchange.cnbMid));
           ryghtPart.appendChild(CreateDiv("country",exchange.country));
           ryghtPart.appendChild(CreateDiv("currBuy",exchange.currBuy));
           ryghtPart.appendChild(CreateDiv("currMid",exchange.currMid));
           ryghtPart.appendChild(CreateDiv("currSell",exchange.currSell));
           ryghtPart.appendChild(CreateDiv("ecbMid",exchange.ecbMid));
           ryghtPart.appendChild(CreateDiv("move",exchange.move));
           ryghtPart.appendChild(CreateDiv("name",exchange.name));
           ryghtPart.appendChild(CreateDiv("shortName",exchange.shortName));
           ryghtPart.appendChild(CreateDiv("valBuy",exchange.valBuy));
           ryghtPart.appendChild(CreateDiv("valMid",exchange.valMid));
           ryghtPart.appendChild(CreateDiv("valSell",exchange.valSell));
           ryghtPart.appendChild(CreateDiv("validFrom",exchange.validFrom));
           ryghtPart.appendChild(CreateDiv("version",exchange.version));

       }


    }
</script>